.about {
    padding-top: 128px;
    &_pt {
        padding-top: 0;
    }
    // .about__title
    &__title {
        margin-bottom: 128px;
    }
    // .about__body
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 196px;
        &_mb {
            margin-bottom: 0;
        }
       
    }
    // .about__content
    &__content {
        flex: 0 1 600px;
        
    }
    // .about__subtitle
    &__subtitle {
        margin-bottom: 64px;
    }
    // .about__subhead
    &__subhead {
        margin-bottom: 64px;
    }
    // .about__text
    &__text {
        margin-bottom: 19px;
    }
    // .about__btn
    // &__btn {
    // }
    // .about__img
    &__img {
        flex:0 0 584px;
        &_mr {
            margin-right: 30px;
        }
        img {
            width: 100%;
            display: block;
        }
    }
}

.atom_img {
    animation: 20s linear infinite rotate;
}