.footer {
    padding: 32px 0 128px;
    background: #000;
    color: #fff;
    // .footer__title
    &__title {
        /* Heading 3 */
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 120.833% */
        letter-spacing: 0.24px;
        text-align: center;
        margin-bottom: 10px;
    }
    // .footer__body
    &__body {
        display: flex;
        justify-content: space-between;
    }
    // .footer__cooperation
    &__cooperation {
        flex: 1 1 auto;
    }
    // .footer__subtitle
    &__subtitle {
        /* Subheading */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 127%; /* 127.778% */
        font-variant: all-small-caps;
        margin-bottom: 16px;
        &_contact {
            margin-bottom: 32px;
        }
    }
    // .footer__descr
    &__descr {
        /* Body 2 */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 171%; /* 171.429% */
        margin-bottom: 32px;
    }
    // .footer__form
    &__form {
        width: 100%;
    }
    // .footer__label
    &__label {
        display: block;
        color:  #7A8799;
        /* Caption */
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 183.333% */
        font-variant: small-caps;
        margin-bottom: 4px;
        span {
            color: $main-color;
        }
    }
    // .footer__input
    &__input {
        position: relative;
        bottom: 2px;
        display: inline-block;
        width: 58%;
        height: 60px;
        padding: 16px;
        align-items: center;
        margin-right: 32px;
        border-radius: 6px;
        background: #DCE0E5;
        color: #000;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
     
    }
    // .footer__btn
    &__btn {
        display: inline-block;
        height: 60px;
    }
    // .footer__contact
    &__contact {
        flex: 0 1 300px;
        margin-top: auto;
    }
    // .footer__email
    &__email {
        display: block;
        margin-bottom: 7px;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        letter-spacing: -0.4px;
    }
    // .footer__phone
    &__phone {
        display: block;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        letter-spacing: -0.4px;
    }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #7A8799;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #7A8799;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #7A8799;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #7A8799;
 }