@media (max-width: 1664px) {
    .container {
        max-width: 1390px;
        padding: 0;
    }
}
@media (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
    .about {
        &__content {
            margin-right: 25px;
        }
    }
    .cards {
        &__body {
            grid-template: repeat(1, minmax(261px, auto)) / repeat(4, 1fr);
            gap: 32px;
        }
        &__item {
            padding: 32px 16px;
          
        }
        &__title {
            font-size: 28px;
        }
        &__text {
            font-size: 12px;
        }
    }
    .circle {
        &__body {
            gap: 32px;
        }
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
        padding: 0;
    }
    .title {
        font-size: 68px;
        &_sub {
            font-size: 52px;
        }
    }
    .about {
        &__title {
            margin-bottom: 64px;
        }
        &__subtitle {
            margin-bottom: 32px;
        }
        &__subhead {
            margin-bottom: 32px;
        }
        &__body {
            margin-bottom: 80px;
            &_mb {
                margin-bottom: 0;
            }
        }
        &__content {
            flex: 0 1 400px;
        }
        &__img {
            flex: 0 0 480px;
        }
    }
    .cards {
        &__item {
            padding: 48px 32px;
        }
        &__body {
            grid-template: repeat(2, minmax(287px, auto)) / repeat(2, 287px);
            justify-content: center;
            &::before {
                top: 25%;
                left: 25%;
                width: 50%;
            }
            &::after {
                content:'';
                position: absolute;
                top: 75%;
                left: 25%;
                width: 50%;
                transform: translateY(-50%);
                display: block;
                height: 1px;
                background-color: $second-color;
            }
        }
    }
    .circle {
        &__body {
            grid-template: repeat(2, minmax(360px, auto)) / repeat(2, 1fr);
            gap: 64px 32px;
            &::before {
                top: 33%;
            }
            &::after {
                content:'';
                position: absolute;
                bottom: 33%;
                transform: translateY(-50%);
                left: 15%;
                display: block;
                width: 70%;
                height: 1px;
                background-color: $second-color;
            }
            
        }
        &__content {
            &:nth-child(1) {
                padding-bottom: 0;
            }
            &:nth-child(2) {
                padding-bottom: 0;
            }
            &:nth-child(3) {
                padding-top: 0;
            }
            &:nth-child(4) {
                padding-top: 0;
            }
        }
        &__item {
            padding: 64px 38px;
            width: 304px;
            height: 304px;
        }
    }
    .footer {
        &__input {
            width: 70%;
        }
        &__btn {
            margin-top: 7px;
            display: block;
            width: 70%;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        &__body {
            flex-direction: column;
        }
        &__content {
            margin-bottom: 32px;
            flex: 1 1 auto;
            margin-right: 0;
        }
        &__img {
            flex: 1 1 auto;
            &_mb {
                margin-bottom: 32px;
            }
        }
        #atom_01 {
            order: 1;
        }
    }
  
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .btn {
        padding: 9px 23px;
        font-size: 20px;
    }
    .header {
        position: fixed;
        &__container {
            max-width: 100%;
            padding: 0 30px;
        }
        &.scrolled {
            transition: all 0.3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 5px;
            z-index: 100;
        }
        &__container {
            justify-content: start;
        }
        &__logo {
            margin-left: auto;
        }
        &__burger {
            display: block;
            position: relative;
            width: 32px;
            height: 32px;
            z-index: 50;
            span {
                position: absolute;
                width: 100%;
                height: 0.125rem;
                background-color: #fff;
                left: 0px;
                top: 18px;
                transition: all 0.3s ease-out;
                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 32px;
                    height: 0.125rem;
                    background-color: #fff;
                    top: -10px;       
                    transition: all 0.3s ease-out;
                }
                &:after {
                    top: 10px;
                }
            }
        }
        &__menu {
            position: fixed;
            overflow: auto;
            bottom: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: #000;
            z-index: 49;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease;
        }
        &__list {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin: 0 0 64px 0;
            &:not(:last-child) {
                margin-right: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            font-size: 43px;
        }
        &__btn {
            padding: 12px 36px;
            font-size: 24px;
            margin:0 auto; 
        }
    }
    .banner {
        padding: 120px 15px 60px;
        &__title {
            font-size: 64px;
            margin-bottom: 32px;
        }
        &__subtitle {
            font-size: 32px;
            margin-bottom: 32px;
        }
        &__text {
            margin-bottom: 32px;
        }
    }
    .title {
        font-size: 52px;
        &_sub {
            font-size: 38px;
        }
    }
    .about {
        padding-top: 60px;
        &_pt {
            padding-top: 0;
        }
        &__title {
            margin-bottom: 32px;
        }
        &__subtitle {
            margin-bottom: 15px;
        }
        &__subhead {
            margin-bottom: 15px;
        }
    }
    .cards {
        padding: 60px 0;
        &__body {
            grid-template: repeat(4, minmax(300px, auto)) / repeat(1, 300px);
            justify-content: center;
            &::before {
                display: none;
            }
            &::after {
                content:'';
                position: absolute;
                top: 0;
                transform: translateY(0%);
                left: 50%;
                display: block;
                width: 1px;
                height: 100%;
                background-color: $second-color;
            }
        }
        &__item {
            padding: 32px ;
        }
        &__title {
            margin-bottom: 16px;
        }
    }
    .circle {
        &__body {
            grid-template: repeat(4, minmax(150px, auto)) / repeat(1, 1fr);
            &::before {
                display: none;
            }
            &::after {
                content:'';
                position: absolute;
                top: 0;
                transform: translateY(0%);
                left: 50%;
                display: block;
                width: 1px;
                height: 80%;
                background-color: $second-color;
                opacity: 0.5;
            }
        }
        &__content {
            &:nth-child(1) {
                padding-top: 0;
                padding-bottom: 150px;
            }
            &:nth-child(2) {
                padding-top: 0;
                padding-bottom: 150px;
            }
            &:nth-child(3) {
                padding-top: 0;
                padding-bottom: 150px;
            }
            &:nth-child(4) {
                padding-top: 0;
                padding-bottom: 150px;
            }
        }
        &__subtext {
            z-index: 3;
            padding: 25px 15px;
            background-color: rgba(165, 165, 165, 0.219);
            &_top {
                top: inherit;
                bottom: 0;
                transform: translateY(-100%);
                opacity: 0;
            }
        }
        .show_top {
            opacity: 1;
            transform: translateY(32px);
        }
        .show_bottom {
            transform: translateY(32px);

        }
    }
    .footer {
        padding: 32px 0 40px;
        &__title {
            font-size: 36px;
        }
        &__body {
            display: block;
        }
        &__input {
            width: 100%;
        }
        &__btn {
            width: 100%;
        }
    }
}
@media (max-width: 576px) {
    .banner {
        padding: 120px 0 60px;
    }
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .header {
        &__logo {
            flex: 0 0 40px;
            span {
                font-size: 10px;
            }
        }
    }
    .banner {
        &__title {
            font-size: 41px;
            margin-bottom: 20px;
        }
        &__subtitle {
            font-size: 26px;
            margin-bottom: 20px;
        }
        &__contact {
            flex-direction: column;
            justify-content: center;   
        }
        &__btn {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    .title {
        &:after {
            width: 25%;
        }
    }
    .circle {
        &__item {
            padding: 50px 38px;
            width: 280px;
            height: 280px;
        }
    }
    .footer {
        padding: 32px 0 40px;
        &__title {
            font-size: 28px;
            margin-bottom: 20px;
        }
        &__subtitle {
            font-size: 24px;
            margin-bottom: 7px;
        }
        &__descr {
            font-size: 12px;
            margin-bottom: 14px;
        }
        &__contact {
            margin-top: 20px;
        }
        &__email {
            font-size: 14px;
        }
        &__phone {
            font-size: 14px;
        }
        &__input {
            height: 54px;
        }
        &__btn {
            padding: 10px;
            height: 40px;
        }
    }
}